#root {
  margin: 0 auto;
}
body {
  background-color: black;

  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo {
  width: 40vh;
  height: auto;
  z-index: 2;
  position: fixed;
  margin-top: -30px;
}

@keyframes circle-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-grow linear forwards;
    animation-timeline: scroll();
  }
}

.logo-container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 40vh;
  width: 40vh;
  background-color: #699430;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 1;
  position: fixed;
}

.spacer {
  height: 100vh;
}

.phone {
  height: calc(50vh+100px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}

.bottom-spacer {
  height: 35vh;
}

/* @media (max-width: 500px) {
  .circle {
    height: 50px;
    width: 50px;
  }
} */
