#root {
  margin: 0 auto;
}
body {
    background-color: black;

}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo {
  width: 40vh;
  height: auto;
  z-index: 3;
}

@keyframes circle-grow {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-grow linear forwards;
    animation-timeline: scroll();
  }
}

.circle {
  height: 200px;
  width: 200px;
  background-color: #699430;
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
  z-index: 1;
}
